body {
    background: linear-gradient(54deg, rgba(125,250,219,1) 0%, rgba(191,219,224,1) 53%, rgba(173,237,248,1) 100%);
}

.summ_img {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    margin-right: 10px;
}

.vis_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
	max-width: 80%;
	border-radius: 3px;
	box-shadow: 0 8px 16px rgba(0,0,0,0.9);
}

.responsive {
    width: 70%;
    height: auto;
}

.textwrap {
    float: left;
    margin: 10px;
}

.clear {
    background: rgba(76, 175, 80, 0);
}

.thumbnail_img {
    width: 95%;
    height: auto;
    margin: auto auto 40px auto;
    border: 1px solid black;
    border-radius: 3px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.thumbnail_img:hover
{
    border: 3px solid darkslategray;
}

.pic_hover {
    border: 1px solid black;
}

.pic_hover:hover
{
    border: 4px ridge darkslategray;
}

.topspace {
    margin-top: 40px;
}

.bottomspace {
    margin-bottom: 40px;
}

.sidebar {
    border-left: 2px ridge black;
    padding-top: 10 px;
}

.sidebar h1 {
	font-size: 20px;
	margin: 40px auto 50px auto;
	text-align: center;
}

.desc_para {
	display: block;
    text-align: justify;
	margin: 20px auto 200px auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
  }

h1, h2 {
    font-family: 'Abril Fatface', cursive;
}

h2 {
    font-size: 22px;
}

.summ_para {
    margin-top: 25px;
    margin-right: 5px;
    padding-left: 10px;
    text-align: justify;
}

.dropdown-item {
    font-size: 12px;
    padding-left: 5px;
    min-width: 80px;
}

.navbar-nav {
    padding-right: 25px;
}

.navbar-brand h1 {
    font-size: 25px;
}

.dropdown-item {
    background-color:#343a40;
    color: white;
}

.dropdown-item:hover {
    background-color: slategrey;
    color: white;
}